code {
    background: #282a36;;
    border-radius: 6px;
}

table th, table td {
    border: 1px solid #dfe2e565;
}

table tr:nth-child(2n) {
    background: #dfe2e565;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #071729;
        color: #ddd;
    }

    blockquote {
        color: #fff;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
